
name: CI

on:
  push:
    branches:
      - main
    #Pull_request:

jobs:
  build:
    name: 'Build and Push'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 24 ]

    steps:
      - uses: actions/checkout@v6

      - name: Setup node | ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run test